{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="mt-5">
  <div class="text-center">
  <img src="{% static 'core/images/img.jpg'%}" alt="Profile Pic" class="img-thumbnail" width="200px" height="150px">
  </div>
  <div class="mt-5 text-white mx-5 text-justify">
    <h1 class="font-weight-bold st-font">Hello,</h1>
    <div class="px-4" style="line-height:2rem;">
      <p style="text-indent:100px;"> I am <b class="text-warning">{{name}}</b> having 2 years of Back-end web development experience for global business.</p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero tenetur cumque facilis temporibus magnam ratione natus dolorem accusantium, eius rerum fugiat, odio voluptatum ab alias? Assumenda, sunt voluptas quasi ea necessitatibus suscipit earum illo cum quaerat esse itaque numquam voluptate voluptatum adipisci eum ex. Dolor iure cumque laborum nam autem, sequi facere exercitationem dolorum labore alias debitis odio incidunt.</p>
    </div>
  </div>
  <div class="text-center">
  <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
  <a href="{% url 'contact' %}" class="btn btn-outline-info my-3">Contact</a>
  </div>
</div>
{% endblock %}
